{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js",".ts"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "import/order": [
      1, 
    { "groups": 
        [
          "external", 
          "builtin", 
          "internal", 
          "sibling", 
          "parent", 
          "index"
        ]
    } 
    ]
    
  },
  "overrides": [
    {
      "files": ["*-test.ts", "*.spec.ts"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": 0,
        "no-unused-expressions": 0,
        "@typescript-eslint/no-explicit-any": 0
      }
    }
  ],
  "ignorePatterns": ["**/generated/*/**"]
}

